h1{
    font-weight: bold;
    text-align: center;
}

.mapDiv{
    text-align: center;
    text-decoration: none;
}

.mapDiv a{
    text-align: center;
    text-decoration: none;
}

.subMap{

    display: flex;
}

.subMap h2{

    font-size: 100px;
}